:root {
	--bg-color: #24242f;
	--header-color: #2d2d39;
	--itemBg-color: #3a3a47;
	--reg-color: #c4c4cf;
	--text-color: #ffffff;
	--fog-color: #00fff0;
	--back-color: #2e2e3c;
}
body,
html {
	font-family: 'Inter', sans-serif;
	margin: 0;
	background-color: var(--bg-color);
	padding: 0;
	color: var(--text-color);
	font-style: normal;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
textarea:focus,
input:focus,
select:focus,
button:focus {
	outline: none;
}
button {
	border: none;
	background: none;
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0;
}
li,
ol,
ul,
a {
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0;
	color: var(--text-color);
}
p {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background-color: #646464;
	border-radius: 8px;
}
.container {
	margin: 0 auto;
	max-width: 1250px;
	padding: 0 15px;
}
/* Login */
.login {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	gap: 20%;
}
.login h1 {
	font-size: 35px;
}
.loginBtn {
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: var(--bg-color);
	background-color: var(--reg-color);
}
/* Login */
/* Loading */
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	font-size: 60px;
}
/* Loading */
/* header  */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 15px;
	width: 100%;
	background-color: var(--bg-color);
	justify-content: space-between;
}
.headerLogo {
}
.headerLogoText {
	font-size: 30px;
}
.headerLogoText span {
	color: #8400ff;
}
.headerLogOut {
	border-radius: 20px;
	background-color: var(--itemBg-color);
	padding: 10px 20px;
	font-size: 15px;
	color: #fff;
}
.headerFlex {
	display: flex;
	align-items: center;
	gap: 20px;
}
/* header  */
/* home */
.home {
	height: 100vh;
	padding-top: 70px;
	/* background-color: var(--itemBg-color); */
}
.homeCreateDiv {
	display: flex;
	justify-content: center;
	background-color: var(--itemBg-color);
	padding: 20px 0;
}
.homeCreateBtn {
	color: var(--text-color);
	padding: 40px 35px;
	background-color: var(--bg-color);
	font-size: 90px;
	color: #8400ff;
}
.homeItems {
	width: 100%;
	/* display: flex; */
	padding: 20px;
	/* justify-content: center; */
}
.homeItems p {
	font-size: 17px;
	text-align: center;
}
.homeItemContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	max-width: 750px;
	margin: 0 auto;
	padding: 10px;
}
.docsItem {
	max-width: 300px;
	border-radius: 5px;
	background-color: var(--itemBg-color);
	padding: 10px 20px;
	color: var(--text-color);
	font-size: 15px;
	min-width: 150px;
}
.homeModalContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--itemBg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
}
.homeAddModal {
	padding: 20px 30px;
	background-color: var(--bg-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.homeAddModal input {
	background-color: var(--text-color);
	color: var(--bg-color);
	padding: 10px 10px;
	border-radius: 10px;
	width: 250px;
	font-size: 15px;
}
.homeFlex {
	display: flex;
	justify-content: space-between;
	/* margin: 0 auto; */
	gap: 20px;
}
.homeModalAdd {
	border-radius: 10px;
	padding: 10px 15px;
	background-color: var(--reg-color);
	color: var(--bg-color);
}
.homeModalCancel {
	border-radius: 10px;
	padding: 10px 15px;
	background-color: #00b7ff;
	color: var(--bg-color);
}
/* home */
